//IMPORTAR AS VARIÁVEIS SASS//
@import "variaveis";

// ****  ELEMENTOS GLOBAIS ***** //

  //MODAL USADO PARA ALERTAS//
  .modal_alertas{

    .modal-header,.modal-footer{ //RETIRAR AS BORDAS DE CABEÇALHO E RODAPÉ DESSE MODAL//
      border: none;
    }
  }

// ****  ELEMENTOS GLOBAIS ***** //


header{

  .logo{  //<div> CONTAINER DO LOGO//

    img{
      padding-top: 0.5em;
    }
  }

  .nav{

      div{ // CONTAINERS DOS BOTÕES DE NOVA NEGOCIAÇÃO E LISTAGEM DE NEGOCIAÇÕES//
        margin-top: 1em;
      }
      //ADICIONAR UMA MARGEM 'TOP' MAIOR SOMENTE NO PRIMEIRO BOTÃO//
      button{
        margin-top: 1em;
      }
  }
}

//*** ÁREA DO MODAL DE INSERÇÃO DE NOVA NEGOCIAÇÃO ***//
#modal_nova_negoc{
  //DIMINUI A MARGIN NO TOPO DO RODAPÉ DO MODAL PARA MELHOR VISUALIZAÇÃO//
  .modal-footer{
    margin-top: -0.9em;
  }

  .alert{
    margin-bottom: 0.7em;
    padding: 0.85em;
  }
}

//*** ÁREA DA LISTA DE NEGOCIAÇÕES ***//
@import "area-negoc";
@import "area-negoc-768-up";//MEDIA QUERY DA ÁREA DA LISTA DE NEGOCIAÇÕES, EM DISPOSITIVOS COM WIDTH A PARTIR DE 769px//

//*** TABELA DE NEGOCIAÇÕES ***//
@import "tabela-negoc";
