$valeBlack : rgb(79,80,79); //COR PRETA PADRÃO, NO LOGO DA VALEMOBI
$valeDarkOrange: rgb(211,127,12); //COR LARANJA - 'MAIS ESCURA' - PADRÃO, NO LOGO DA VALEMOBI
$valeLightOrange: rgb(255,111,2); //COR LARANJA - 'MAIS CLARA' - PADRÃO, NO LOGO DA VALEMOBI
